body {
    background-image: url('https://phonoteka.org/uploads/posts/2021-04/1618489208_20-phonoteka_org-p-dlinnii-fon-dlya-saita-21.jpg');
    font-family: Arial, sans-serif;
    color: hsl(0, 0%, 9%);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.5;
    text-align: justify;
}
p{
    text-indent : 5%;
    font-style: italic;
    font-size: 15pt;
}
h1{
    font-weight: 700;
    text-align: center;
    color: aquamarine;
}
img{
    float: right;
    border: 6px;
    border-color: black;
    width:80%; 
    height:80%;
}




