body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    padding-top: 30px;
    background-image: url("../bg1.jpg");
    background-size: cover;
}
h2{
    text-align: center;
    width: 100%;
    font-size: 14pt;
    font-family: 'Montserrat', sans-serif;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.page{/**/
    height: 1hv;
}
h1, h2, h3 ,h4 ,h5 ,h6{
    margin: 0;
}

/* container*/
.container{
width: 100%;
max-width: 1200px;
margin: 0 auto;
}

   
/*Header*/
@media (min-width: 768px){
   
}
@media (max-width: 768px){
    .img_logo{
        width: 75px;
        height:75px;
    }
    .nav{
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 7pt;
     }

    
}

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}

.header_iner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_logo{
    width: 125px;
    height:125px;
}

/*nav*/
.nav{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
}
.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 25px;
    position: relative;

    color: #ff2525;
    text-decoration: none;
    transition: color 0.2s linear;
}
.nav__link:hover{
    color: #e2ba28
}

.prostor1{
    width: 100%;
    height: 100px;
}

.prostor2{
    width: 100%;
    height: 200px;
}
.befSlider{
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    color: #fff ;
}

/*page2*/

.text_1{
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    color: #e6a2a2;
    text-indent : 5%;
    width: 80%;
    padding-left: 20%;
}
.text_2{
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    color: #e6a2a2;
    text-indent : 5%;
    width: 80%;
    padding-left: 20%;
}
.TMain{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 18pt;
    width: 100%;
    text-align: center;
}

/*фото тренеров*/
.menu1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 200px;
    background: #e6a2a2;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 5%;
}
  
.menu__wrap1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
    overflow: hidden;
    color: #fff;
    transition: height 0.5s;
    text-align: center;
}


.menu1:hover .menu__wrap1{
    height: 100%;
}

.P_footer{
    font-size: medium;
    color: #fff;
    text-align: center  ;
    font-size:16pt;
}

.nav__link_f{
    display: inline-block;
    vertical-align: top;
    margin: 0 25px;
    position: relative;

    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s linear;
}
.nav__link_f:hover{
    color: #ffc800
}


.myButton {
    width: 125px;
    height: 75px;
    color: white;
    border: 0;
    border-radius: 10%;

    padding: 10px 20px;
    background-color: #ff6d6d;
    border: none;
    cursor: pointer;
    display: inline;
}
.myButton.active {
    background-color: rgb(126, 38, 38);
    color: #fff;
}
.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
    color: #fff;
}
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.hidden {
    display: none;
}



.i{
    margin: 3px;
    font-size: 14pt;
    color: #fff;
}


.Di{
width: 100%; 
height: 600px; 
text-align: center;
}


.pay{
    display: flex;
    width: 80%;
    margin: 0 auto;     
    justify-content: center;
}
.btnMenu{
    margin: 0 auto;
    
    
}


















/*
<table class="TaBle">
    <p >Заняття по пн/пт</p>
    <tr>
            <td>заняття 3-6 років</td>
            <td>16:00-16:45</td>
    </tr>
    <tr>
        <td>заняття 7-9 років</td>
        <td>17:00-17:45</td>
    </tr>
    <tr>
        <td>заняття 10-12 років</td>
        <td>18:00-18:45</td>
    </tr>
    <tr>
        <td>заняття 13+ років</td>
        <td>19:00-19:45</td>
    </tr>
</table>


500грн
650грн
*/